body{
    background-position: center;
    background-size: cover;
}
.header{
    width: 100%;
    margin: 0px;
    font-size: large;
}
.input_class{
    margin: 5px;
    border-radius: 5px;
    width: 20%;
    color: rgb(128, 73, 0);
    background-color: rgb(98, 0, 255);
    border: 1px double rgb(8, 0, 232);
}
.object_name_label{
    font-weight: bold;
    font-size: 15px;
    color: darkturquoise;
}
canvas{
    border-radius: 10px;
    background-color: red;
    box-shadow: 7px 7px 7px white;
}
p{
    color: black;
    margin-bottom: 0px;
    font-size: small;
}